{"TxIqSignal": 1, "PreambleLength": 8, "Frequency": 472500000, "TxPower": 0, "DataRate": 3, "SyncWord": 18, "UsartBaud": 5, "AppTxDutycycle": 60000000, "DevEui": [0, 0, 0, 0, 0, 0, 0, 1], "Coderate": 1, "CrcEnable": 1, "AppTxDutycycleRandom": 1000000, "RxIqSignal": 1, "UsartDataBits": 0, "EnableDebugPrintf": 1, "HeaderMode": 0, "UsartParityBits": 0, "BandWidth": 0, "UsartStopBits": 0, "ApplicationMode": 0}